<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5">
            <h3 class="mb-5 text-center">Forget Password</h3>
            <form
            class="mx-1 mx-md-4"
            [formGroup]="forgetForm"
            (ngSubmit)="resetPassword()"
            class="needs-validation"
          >
              <div class="d-flex flex-row align-items-center mb-4 form-group">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label" for="form3Example3c"
                    >Email</label
                  >
                  <input
                  placeholder="Email Adress" [(ngModel)]="Email" formControlName="Email" type="text"
                    class="form-control"
                  />
                </div>
              </div>


              <button
                class="btn btn-primary btn-lg btn-block"
                style="width: 100%"
                type="button"
                class="btn btn-primary btn-lg"
                style="width: 100%"
                type="submit"
                [disabled]="!forgetForm.valid"
              >Reset Password

              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
